
@media only screen 
{
	html
	{
		font-size:12px;
	}
}

@media only screen and (max-width: 490px)
{
	html
	{
		font-size:6px;
	}
}

@media only screen and (min-width: 490px) and (max-width: 600px)
{
	html
	{
		font-size:8px;
	}
}



@media only screen and (min-width: 1000px)
{
	html
	{
		font-size:20px;
	}
}