<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.archive.autodetection">none</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">dcpd1vxd1vx</property>
        <property name="hibernate.connection.url">jdbc:mysql://database_ip_addr/divx_user</property>
        <property name="hibernate.connection.username">dcp_db</property>
        
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider
		</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="connection.useUnicode">true</property> 
		<property name="connection.characterEncoding">UTF-8</property>
		<property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
		
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.blog.Post">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.blog.PostCategory">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.calendar.Event">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.commons.Attachment">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.commons.Comment">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.commons.Statistic">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.commons.Tag">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.commons.Template">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.commons.VoteRecord">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.discussion.Forum">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.discussion.Reply">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.discussion.Topic">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.document.File">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.document.Folder">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.gallery.Album">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.gallery.Photo">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.knowledge.Answer">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.knowledge.Question">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.list.Link">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.message.Message">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.oauth.Authorization">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.profile.Profile">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.stream.Activity">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.system.Permission">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.system.Project">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.system.ProjectCategory">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.system.ProjectFeature">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.system.Resource">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.system.Role">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.system.Site">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.system.SiteLink">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.system.Theme">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.system.User">read-write</property>
        <property name="hibernate.ejb.classcache.org.osforce.connect.entity.team.TeamMember">read-write</property>
        <property name="hibernate.ejb.collectioncache.org.osforce.connect.entity.blog.PostCategory.posts">read-write</property>
        <property name="hibernate.ejb.collectioncache.org.osforce.connect.entity.discussion.Forum.topics">read-write</property>
        <property name="hibernate.ejb.collectioncache.org.osforce.connect.entity.discussion.Topic.replies">read-write</property>
        <property name="hibernate.ejb.collectioncache.org.osforce.connect.entity.document.Folder.children">read-write</property>
        <property name="hibernate.ejb.collectioncache.org.osforce.connect.entity.document.Folder.files">read-write</property>
        <property name="hibernate.ejb.collectioncache.org.osforce.connect.entity.knowledge.Question.answers">read-write</property>
        <property name="hibernate.ejb.collectioncache.org.osforce.connect.entity.system.Project.features">read-write</property>
        <property name="hibernate.ejb.collectioncache.org.osforce.connect.entity.system.ProjectCategory.children">read-write</property>
        <property name="hibernate.ejb.persistenceUnitName">connectPersistenceUnit</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="com/divx/service/domain/model/DcpToken.hbm.xml" />
        <mapping resource="com/divx/service/domain/model/DcpOrganization.hbm.xml" />
        <mapping resource="com/divx/service/domain/model/DcpUserExt.hbm.xml" />
        <mapping resource="com/divx/service/domain/model/OsfUsers.hbm.xml" />
        <mapping resource="com/divx/service/domain/model/DcpOrgsite.hbm.xml" />
    </session-factory>
</hibernate-configuration>
